@charset "utf-8";

* {
  margin : 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a{
  text-decoration: none;
  color: inherit;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  width: 30vw;
}
input {
  width: 80%;
}

#helloDiv {
  margin-bottom: 40px;
}
#textPart {
  height: 35vh;
}

h1 > span {
  padding: 10px;
}